.work-user__experience {
  margin-bottom: 50px;
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #A9A9A9;
}

.work-user__derection {
  font-family: Solway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.09em;      
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .work-user__experience {
    margin-bottom: 50px;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #A9A9A9;
  }
}