.panel-nav {
  flex-grow: 1;
}

.panel-nav__item {
  margin-bottom: 17px;
  text-align:  center;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  a {
    font-family: 'Solway', serif;
    text-decoration: none;
    color: #000;
    cursor: pointer;

    &:hover {
      text-decoration: overline;
      color: #202020;
    }
  }
}