@import './companent/panel-block.scss';
@import './companent/panel-nav.scss';
@import './companent/panel-link.scss';

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}