@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{outline: 1px solid red;}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@import './contact.scss';
@import './companent/main.scss';
@import './companent/panel-block.scss';
@import './companent/panel-nav.scss';
@import './companent/panel-link.scss';
@import './companent/cardProject.scss';
@import './companent/page-post.scss';
@import './companent/card.scss';
@import './companent/profile/profile.scss';
@import './companent/blog/blog-content.scss';
@import './companent/blog/post.scss';
@import './companent/admin/admin_main.scss';
@import './companent/header.scss';
@import './companent/cardBlock.scss';