@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@import './companent/main.scss';
@import './companent/panel-block.scss';
@import './companent/panel-nav.scss';
@import './companent/panel-link.scss';
@import './companent/cardProject.scss';
@import './companent/page-post.scss';